<div class="card events cf">
  <div class="textintro">
    <h1>Add Event</h1>
    <p>Type a event name and hit +</p>
    <form class="formgroup addevent cf"
      name="myform"
      ng-submit="addEvent()"
      novalidate>
      <div class="inputwrapper">
        <input type="text" name="eventname"
          placeholder="Event name"
          ng-model="eventname" ng-required="true">
      </div>
      <button type="submit" class="btn"
       ng-disabled="myform.$invalid">+</button>
    </form>
</div><!-- events cf -->

<div class="card events cf">
  <h2>Your Events</h2>
  <div class="event" ng-repeat="(key, event) in events">
    <button class="btn btn-delete tooltip"
      ng-click="deleteEvent(key)"><span>Delete this event</span></button>

    <a class="btn btn-checkin tooltip"
       ng-href="#/checkins/{{currentUser.regUser}}/{{event.$id}}">
      <span>Go to check-in URL</span>
    </a>
    <a class="btn btn-list tooltip"
ng-href="#/checkins/{{currentUser.regUser}}/{{event.$id}}/checkinsList">
<span>View list of checked-in users</span>
</a>//asnohnstaohunstaohusnahounsa
    <span class="text">{{event.name}}</span>
  </div><!-- events list -->
</div><!-- events cf -->
