<div class="card cf">
    <h1>How it Work</h1>
</div>

<div class="cf">
    <div id="create" class="guide-howitwork">
        <h2>Create</h2>
        
        <p>Fill in your event name and type and date</p>
    </div>
    <div id="host" class="guide-howitwork">
        <h2>Host</h2>
        <p>Check all the check-in guest and the time they check in</p>
    </div>
    <div id="browse" class="guide-howitwork">
        <h2>Browse</h2>
        <p>Check all the event you already checked in</p>
    </div>
</div> 



<div class="guide-sectiontwo cf">
    <div class="card cf">
        <h1>Save time and do more</h1>
    </div>
   <div class="guide-howitwork">
        <h2>Easily create your event page</h2>
        <p>Simply type in required information and choose your location</p>
    </div>
    <div class="guide-howitwork">
        <h2>Track real-time progress</h2>
        <p>See who's coming, when they check in the event</p>
    </div>
    <div class="guide-howitwork">
        <h2>Manage your guests</h2>
        <p>Check in your attendees</p>
    </div>
</div>

<br/>
<div class="card cf">
    <h1>It's free to get started</h1>
    <button class="btn" onclick="window.location.href='#/register'">Try it on</button>
</div>

