<!DOCTYPE html>
<html>
<head>
    <title>LitMap</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      // This example requires the Drawing library. Include the libraries=drawing
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=drawing">

      var rectangle;
      var map;
      var infoWindow;

      function initMap() {
          var western = new google.maps.LatLng(43.006000, -81.2720000) /*western official coordinates 43.009601, -81.2759276 */
          map = new google.maps.Map(document.getElementById('map'), {
              center: western,
              zoom: 15
          });

          var bounds = {
            north: 43.006010,
            south: 43.006000,
            east: -81.272010,
            west: -81.272020
          };

           // Define the rectangle and set its editable property to true.
          rectangle = new google.maps.Rectangle({
            bounds: bounds,
            editable: true,
            draggable: true
          });

          rectangle.setMap(map);

          // Add an event listener on the rectangle.
          rectangle.addListener('bounds_changed', showNewRect);

          // Define an info window on the map.
          infoWindow = new google.maps.InfoWindow();



      }
          // Show the new coordinates for the rectangle in an info window.

          /** @this {google.maps.Rectangle} */
      function showNewRect(event) {
        var ne = rectangle.getBounds().getNorthEast();
        var sw = rectangle.getBounds().getSouthWest();

        var contentString = '<b>Rectangle moved.</b><br>' +
            'New north-east corner: ' + ne.lat() + ', ' + ne.lng() + '<br>' +
            'New south-west corner: ' + sw.lat() + ', ' + sw.lng();

        // Set the info window's content and position.
        infoWindow.setContent(contentString);
        infoWindow.setPosition(ne);

        infoWindow.open(map);
      }


    </script>



    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkcACHlV1v9b_HWYa0jqNS7llruOF9i8U&libraries=drawing&callback=initMap"
         async defer></script>

</body>
</html>
