<script>
    function refreshPage(){
        window.location.reload();
    }
</script>

<head>
    <div class="uk-tile uk-tile-lit" ng-controller="RegistrationController">
        <p class="uk-h3-lit uk-text-center">Account Settings</p>
    </div>

<style>
    #uploader {
	   -webkit-appearance: none;
        appearance:none;
        width: 100%;
        margin-bottom: 10px;
}
    .label{
        float: left;
    }
    .block{
        display:inline;
        
    }
    </style>
</head>
<body>

<div class="uk-section">
    <div class="uk-container">

        <div class="uk-flex uk-flex-center uk-text-center" uk-grid>
            <div class="uk-card uk-card-body uk-card-secondary uk-width-1-2">
                <div class="uk-text-center">
                    <div class="uk-inline-clip uk-transition-toggle uk-light">

                        <img id="profilePhoto" src="url" class="uk-border-circle" onerror="this.src='https://www.soundstream.tv/assets/default_profile-e08597880fc222202f22984a4f1966a29b108e856a3fb935072bfbbc302a4b73.png'" width="150" height="150">

                        <div class="uk-position-center">
                            <span class="uk-transition-fade" uk-tooltip title="Edit Profile" uk-toggle="target: #edit-profile" uk-icon="icon: pencil; ratio: 2"></span>
                        </div>
                    </div>
                </div>
<div class="uk-margin-top">
                <span class="uk-text-large">{{user.firstname}} {{user.lastname}}</span>
</div>
                <br>
                <span class="uk-text-bold">Your Information:</span>
                <br>
                <br>
                <span class="uk-text-small">{{user.email}}</span>
                <br>
                <span class="uk-text-small">Age: </span>
                <span class="uk-text-small uk-badge">{{ user.age }}</span>
                <br>
                <span class="uk-text-small">Occpuation: {{ user.occupation }}</span>
                <hr>

                <form ng-submit="linkToFacebook()" name="myform" novalidate>
                    <button type="submit"  class="uk-button uk-button-litbl uk-margin" >Link to Facebook</button>
                </form>
                <form ng-submit="unLinkToFacebook()" name="myform" novalidate>
                    <button type="submit"  class="uk-button uk-button-danger" >UnLink Facebook</button>
                </form>
                <hr>


                <div id="edit-profile" uk-offcanvas="mode: push; overlay: true">
                    <div class="uk-offcanvas-bar">

                        <br>
                        <br>


                        Profile Picture:
                        <div class="test-upload uk-width-1-1 uk-margin"  uk-form-custom>
                            <input type="file" value="upload" id="fileButton">
                            <button class="uk-button uk-button-default uk-width-1-1" type="button" tabindex="-1">Select Picture</button>
                        </div>


                        <form ng-submit="updatePicture()" name="myform" novalidate>
                            <button type="submit" class="uk-button uk-button-secondary uk-width-1-1 uk-offcanvas-close" onClick="refreshPage()" >Update Picture</button>
                            <progress value="0" max="100" id="uploader">0%</progress>
                        </form>

                        <form name="myform" ng-submit="updateInfo()" novalidate>

                            <hr>
                            Personal Information:
                            <br>
                            <div class="uk-margin">
                                <input class="uk-input" type="text" name="firstname" placeholder="First Name"
                                       ng-model="firstname" ng-required="true">

                                <input class="uk-input" type="text" name="lastname" placeholder="Last Name"
                                       ng-model="lastname" ng-required="true">

                                <input class="uk-input" type="text" name="age" placeholder="Age"
                                       ng-model="age" ng-required="true">
                            </div>
                            <div class="uk-margin">
                                Gender:
                                <input type="radio" name="gender" value="Male" ng-model="gender" ng-required="true"> Male
                                <input type="radio" name="gender" value="Female" ng-model="gender" ng-required="true"> Female
                            </div>
                            <hr>

                            Occupational Information:
                            <div class="uk-margin">
                                <select class="uk-select" name="occupation" ng-required="true" ng-model="occupation">
                                    <option name="occupation" value="Technology">Technology</option>
                                    <option name="occupation" value="Health">Health</option>
                                    <option name="occupation" value="Academia">Academia</option>
                                    <option name="occupation" value="Government">Government</option>
                                    <option name="occupation" value="Services">Services</option>
                                    <option name="occupation" value="Entrepreneur">Entrepreneur</option>
                                </select>
                            </div>
                            <hr>
                            <button type="submit" class="uk-button uk-button-secondary uk-width-1-1" >Update profile</button> <br>
                        </form>

                        <button class="uk-button uk-button-default uk-offcanvas-close uk-width-1-1 uk-margin" type="button">Close</button>

                    </div>
                </div>

                <a class="uk-button uk-button-secondary uk-margin" href="#password-reset" uk-toggle>Reset Password</a>

                <form ng-submit="deleteUser()" name="myform" novalidate>
                    <button type="submit"  class="uk-button uk-button-danger" onClick="refreshPage()" >Delete Account</button>
                </form>



                <div id="password-reset" uk-modal="center: true">
                    <div class="uk-modal-dialog">
                        <button class="uk-modal-close-default" type="button" uk-close></button>
                        <div class="uk-modal-header">
                            <h2 class="uk-modal-title">Password Reset</h2>
                        </div>
                        <div class="uk-modal-body">

                            <form name="myform1" ng-submit="updatePassword()" novalidate>

                                <!--<button type="submit" class="btn btn-block" style="float:left; margin-left: 70px;" >Update Password</button> -->
                                <p>To change your password, we require a recent login from your account.<br>
                                    If you have not logged on recently, you will be prompted to log in before changing your password.</p>

                                <div class="uk-text-center">

                                <p class="label">Enter A New Password:</p>

                                <input type="password" class= "uk-input" name="password"
                                       placeholder="Password"
                                       ng-model="password" ng-required="true">
                                    <div title="{{password}}" uk-tooltip>
                                <span class="uk-label uk-label-success">View</span>
                                        </div>

                                </div>

                                <div class="uk-margin"></div>
                                <div class="uk-margin"></div>
                                <div class="uk-align-right">
                            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                            <button class="uk-button uk-button-primary" type="submit">Update Password</button>
                                </div>
                            </form>
                    </div>
                    </div>
                </div>




            </div>
        </div>
    </div>
</div>