<head>

<style>
    #uploader {
     -webkit-appearance: none;
        appearance:none;
        width: 100%;
        margin-bottom: 10px;
}
    .label{
        float: left;
    }
    .block{
        display:inline;
        
    }
    </style>
</head>
<body>

<div class="card events cf" >
  <div class="textintro">
    <h1>User Profile</h1>
    <span class="as-word">name: {{ user.firstname }} {{user.lastname}} </span>
    <span class="as-word">email: {{ user.email }} </span>
      <span class="as-word">occpuation: {{ user.occupation }}</span>
       <span class="as-word">age: {{ user.age }}</span>
    <form name="myform" ng-submit="updateInfo()" novalidate>
    <div class="inputwrapper">
      <p class = "label">First Name:</p> <input type="text" name="firstname"
        placeholder="FirstName"
        ng-model="firstname" ng-required="true">
            <p class = "label">Last Name:</p><input type="text" name="lastname"
        placeholder="LasstName"
        ng-model="lastname" ng-required="true">
      
            <p class = "label">Age:</p><input type="text" name="age"
        placeholder="age"
        ng-model="age" ng-required="true">
     </div>
         
        <div class="block">
            <p class = "label">Occupation:</p>
            <input type="radio" name="occupation" value="Technology" ng-model="occupation" ng-required="true"> Technology
            <input type="radio" name="occupation" value="Health" ng-model="occupation" ng-required="true"> Health
            <input type="radio" name="occupation" value="Academia" ng-model="occupation" ng-required="true"> Academia   <br>
            <input type="radio" name="occupation" value="Government" ng-model="occupation" ng-required="true"> Government  
            <input type="radio" name="occupation" value="Services" ng-model="occupation" ng-required="true"> Services
            <input type="radio" name="occupation" value="Entrepreneur" ng-model="occupation" ng-required="true"> Entrepreneur<br>
       </div>
        
        <div class="block">
            <p class = "label">Gender:</p>
            <input type="radio" name="gender" value="Male" ng-model="gender" ng-required="true"> Male
            <input type="radio" name="gender" value="Female" ng-model="gender" ng-required="true"> Female
        </div>
        
        <br>
     <button type="submit" class="btn btn-block" >Update profile</button> <br>
    </form> 
      
    <form name="myform1" ng-submit="updatePassword()" novalidate>
        <p class = "label">Password:</p><input type="text" name="password"
        placeholder="password"
        ng-model="password" ng-required="true">
        <button type="submit" class="btn btn-block" >Update Password</button>
      </form>
    
     <img src="url" style="width:200px;height:200px;">
      <progress value="0" max="100" id="uploader">0%</progress>
      <input type="file" value="upload" id="fileButton"/>
        <form ng-submit="updatePicture()" name="myform" novalidate>
      <button type="submit"  class="btn btn-block" >Update Picture</button>
     </form>
       <form ng-submit="linkToFacebook()" name="myform" novalidate>     
      <button type="submit"  class="btn btn-block" >Link to Facebook</button>
     </form>
     <form ng-submit="unLinkToFacebook()" name="myform" novalidate>
      <button type="submit"  class="btn btn-block" >UnLink to Facebook</button>
     </form>
    </div><!-- events cf -->
    
    <br/>
    
    
    
    <script src="https://www.gstatic.com/firebasejs/3.7.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBLefPTD2pIO1RAUYxTIN8ao_Xdx054D9Q",
    authDomain: "litapp-a4f8d.firebaseapp.com",
    databaseURL: "https://litapp-a4f8d.firebaseio.com",
    storageBucket: "litapp-a4f8d.appspot.com",
    messagingSenderId: "863295441400"
  };
    
  firebase.initializeApp(config);
    
    // Get a reference to the storage service, which is used to create references in your storage bucket
    var storage = firebase.storage();

    // Create a storage reference from our storage service
    var storageRef = storage.ref();
    
    var uploader = document.getElementById('uploader');
    var fileButton = document.getElementById('fileButton');
    var uploadButton = document.getElementById('uploadButton')
    console.log(fileButton);
    var fileName;
  
    //var url = firebase.auth().currentUser.photoURL;
    //var photoURL = firebase.auth().currentUser.photoURL;
    console.log(firebase.auth().currentUser);
    
    
  fileButton.addEventListener('change',function(e){
    console.log("in");
        var file = e.target.files[0];
        fileName = file.name;
        console.log(fileName);
        var storageRef = firebase.storage().ref('pictures/' + file.name);
        var task = storageRef.put(file);
        
        //var userRef = firebase.auth().currentUser;
        
                                
        task.on('state_changed',

            function progress(snapshot){
            
                var percentage = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                console.log('Upload is ' + progress + '% done');
                uploader.value = percentage;


            },
            function error(err){

            },
            function complete(){

            }

           );   
        var photoRef = "pictures/" + fileName;
        console.log(firebase.auth().currentUser);
        console.log(photoRef);
        firebase.auth().currentUser.updateProfile({
            photoURL: photoRef
        }).then(function(){
            var photoURL = firebase.auth().currentUser.photoURL;
            console.log(photoURL);
            console.log("sucess");
        });
         
    });
   
    

</script>
</body>