<div class="uk-tile uk-tile-secondary">
    <p class="uk-h3">All Events</p>
</div>

    <div class="formgroup">
        <span class="label">List by:</span>

        <select ng-model="order">
            <option value="" disabled selected>Please Select</option>
            <option value="all">All/Time</option>
            <option value="social">Social</option>
            <option value="educational">Educational</option>
            <option value="sports">Sports</option>
            <option value="networking">Networking</option>
            <option value="general">General</option>
        </select>

        <button class="btn btn-checkin tooltip"
                ng-click="makeList(order)"></button>
    </div>


      <div class="uk-child-width-1-3@m uk-margin-small" uk-grid uk-scrollspy="cls: uk-animation-scale-up; target: > div > .uk-card; delay: 200; repeat: true">
          <div ng-repeat="(key, event) in category">
              <div class="uk-card uk-card-default uk-card-body">
                  <h3 class="uk-card-title">{{event.eventname}}</h3>
    <span class="text">Host Name: {{event.hostname}}</span><br>
    <span class="text">Event Name: {{event.eventname}}</span><br>
    <span class="text">Event Type: {{event.eventtype}}</span><br>
    <span class="text">Event Date: {{event.eventdate}}</span><br>

   <button class="btn btn-checkin tooltip"
    ng-click="addUser(event.$id)"><span>Going to This Event</span></button>


    <a class="btn btn-list tooltip"
       ng-href="#/checkinsList/{{event.$id}}">
      <span>View list of checked-in users</span>
    </a>

     <a class="btn btn-map tooltip"
       href="views/eventmap.html?eventId={{event.$id}}">
      <span>Look at Event on Map</span>
    </a>

    
  </div><!-- events list -->
</div><!-- events cf -->
</div>


