<div class="uk-tile uk-tile-lit">
    <p class="uk-h3 uk-text-center">All Events</p>
</div>

    <div class="formgroup">
        <span class="label">List by:</span>

        <select ng-model="order">
            <option value="" disabled selected>Please Select</option>
            <option value="all">All/Time</option>
            <option value="social">Social</option>
            <option value="educational">Educational</option>
            <option value="sports">Sports</option>
            <option value="networking">Networking</option>
            <option value="general">General</option>
        </select>

        <button class="btn btn-checkin tooltip"
                ng-click="makeList(order)"></button>
    </div>


      <div class="uk-child-width-1-3@m uk-margin-small" uk-grid uk-scrollspy="cls: uk-animation-scale-up; target: > div > .uk-card; delay: 200; repeat: true">
          <div ng-repeat="(key, event) in category">
              <div class="uk-card uk-card-secondary uk-card-body">
                  <h3 class="uk-card-title">{{event.eventname}}</h3>
    <span class="text">Host Name: {{event.hostname}}</span><br>
    <span class="text">Event Name: {{event.eventname}}</span><br>
    <span class="text">Event Type: {{event.eventtype}}</span><br>
    <span class="text">Event Date: {{event.eventdate}}</span><br>


                  <a ng-click="addUser(event.$id)"
                     class="uk-icon-link uk-align-right" title="I'm Going" uk-tooltip uk-icon="icon: check">
                  </a>

                  <a ng-href="#/checkinsList/{{event.$id}}"
                     class="uk-icon-link" title="View Check-Ins" uk-tooltip uk-icon="icon: users">
                  </a>

                  <a href="views/eventmap.html?eventId={{event.$id}}"
                     class="uk-icon-link" title="View On Map" uk-tooltip uk-icon="icon: location">
                  </a>


    
  </div><!-- events list -->
</div><!-- events cf -->
</div>


