<div class="uk-tile uk-tile-lit">
  <p class="uk-h3-lit uk-text-center">All Check-Ins</p>


<nav class="uk-navbar-container uk-margin uk-dark uk-width-1-2 uk-align-center" uk-navbar>



  <div class="nav-overlay uk-navbar-left uk-flex-1">

    <div class="uk-navbar-item uk-width-expand">
      <form class="uk-search uk-search-navbar uk-width-1-1">
        <input class="uk-search-input" type="search" ng-model="query" placeholder="Search...">
      </form>
    </div>

    <a class="uk-navbar-toggle" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>

  </div>

</nav>
</div>

    <div class="formgroup">
      <span class="label">by:</span>
      <select ng-model="order">
        <option value="firstname">First Name</option>
        <option value="lastname">Last Name</option>
        <option value="date">Date</option>
      </select>
    </div>
    <div class="formgroup">
      <input type="radio" id="dirascending" name="direction"
        ng-model="direction">
      <label for="dirascending">asc</label>&nbsp;

      <input type="radio" id="dirdescending" name="direction"
        ng-model="direction" value="reverse">
      <label for="dirdescending">desc</label>
    </div>

<h1> Guests</h1>
<ul class="userlist cf">
    <li ng-repeat="checkin in checkins | orderBy: order:direction | filter: query">
      <div class="checkin">
        <div class="info">
          <h2>{{checkin.name}}</h2>
        </div><!-- info -->
      </div><!-- checkin -->
    </li>
  </ul>
</div>
