<div class="uk-tile uk-tile-lit uk-margin">
  <p class="uk-h3-lit uk-text-center">All Check-Ins</p>
</div>

<div class="uk-inline uk-position-top-center">
    <div class="uk-tile uk-tile-secondary">
        <!-- <a class="uk-button uk-button-primary uk-margin" onclick="location.reload()" ng-href="#/events">Back</a> -->
        <a class="uk-button uk-button-primary"
           ng-href="#/allevents">Back To All Events</a>
    </div>
</div>

<div class="uk-grid">
<div class="uk-tile uk-tile-default uk-width-1-2">
  <p class="uk-h3 uk-text-center">List By:</p>
  <div class="uk-container uk-container-small">
  <div class="uk-margin">
    <select ng-model="order" class="uk-select">
      <p>By:</p>
      <option value="firstname">First Name</option>
      <option value="lastname">Last Name</option>
      <option value="date">Date</option>
    </select>
  </div>
    <div class="formgroup">
      <input type="radio" id="dirascending" name="direction"
             ng-model="direction">
      <label for="dirascending">asc</label>&nbsp;

      <input type="radio" id="dirdescending" name="direction"
             ng-model="direction" value="reverse">
      <label for="dirdescending">desc</label>
    </div>
</div>

</div>

  <div class="uk-tile uk-tile-default uk-width-1-2 ">

    <nav class="uk-navbar-container uk-dark uk-width-1-2 uk-align-center" uk-navbar>



      <div class="nav-overlay uk-navbar-left uk-flex-1">


        <div class="uk-navbar-item uk-width-expand">
          <form class="uk-search uk-search-navbar uk-width-1-1">
            <input class="uk-search-input" type="search" ng-model="query" placeholder="Search...">
          </form>
        </div>

        <a class="uk-navbar-toggle" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>

      </div>

    </nav>
  </div>
</div>

<div class="uk-child-width-1-4@m uk-margin-small" uk-grid uk-scrollspy="cls: uk-animation-scale-up; target: > div > .uk-card; delay: 200; repeat: false">
  <div ng-repeat="checkin in checkins | orderBy: order:direction | filter: query">
    <div class="uk-container uk-align-center">
    <div class="uk-card uk-card-secondary uk-card-body">
      <img id="userPhoto" src="url" class="uk-border-circle" onerror="this.src='https://www.soundstream.tv/assets/default_profile-e08597880fc222202f22984a4f1966a29b108e856a3fb935072bfbbc302a4b73.png'" width="50" height="50">
      <h3 class="uk-card-title">{{checkin.name}}</h3>
    </div>
  </div>
  </div>
</div>
