<div class="uk-tile uk-tile-lit uk-margin">
  <p class="uk-h3-lit uk-text-center">Check-Ins</p>
</div>


<div class="uk-inline uk-position-top-center">
    <div class="uk-tile uk-tile-secondary">

        <a class="uk-button uk-button-primary"
           uk-toggle="target: #modal-filter">Filter Check-Ins</a>
    </div>
</div>


<div class="uk-child-width-1-4@m uk-margin-small" uk-grid uk-scrollspy="cls: uk-animation-scale-up; target: > div > .uk-card; delay: 200; repeat: false">
  <div ng-repeat="checkin in checkins | orderBy: order:direction | filter: query">
    <div class="uk-container uk-align-center">
      <div class="uk-card uk-card-secondary uk-card-body">
        <img id="userPhoto" src="url" class="uk-border-circle" onerror="this.src='https://www.soundstream.tv/assets/default_profile-e08597880fc222202f22984a4f1966a29b108e856a3fb935072bfbbc302a4b73.png'" width="50" height="50">
        <h3 class="uk-card-title">{{checkin.name}}</h3>

        <button class="uk-button uk-button-danger" ng-click="deleteCheckIn(checkin.$id)">
          <span>Delete Guest</span>
        </button><!-- delete check-in -->
      </div>
    </div>
  </div>
</div>

<!-- This is the modal with the default close button -->
<div id="modal-filter" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <span class="uk-text-large">List by:</span>
        <div class="uk-margin">
            <select ng-model="order" class="uk-select">
                <option value="" disabled selected>Please Select</option>
                <option value="firstname">First Name</option>
                <option value="lastname">Last Name</option>
                <option value="date">Date</option>
            </select>
        </div>
        <div class="formgroup">
            <input type="radio" id="dirascending" name="direction"
                   ng-model="direction">
            <label for="dirascending">asc</label>&nbsp;

            <input type="radio" id="dirdescending" name="direction"
                   ng-model="direction" value="reverse">
            <label for="dirdescending">desc</label>
        </div>
        <br>

        <span class="uk-text-large">Or Search:</span>
        <br>
        <br>
        <div class="uk-inline">
            <div class="uk-margin">
                <form class="uk-search uk-search-default">
                    <span class="uk-search-icon-flip" uk-search-icon></span>
                    <input class="uk-search-input" type="search" ng-model="query" placeholder="Search...">
                </form>
            </div>
            <button class="uk-button uk-button-primary uk-modal-close" type="button">Filter</button>
        </div>
    </div>

</div>
</div>