

<div class="uk-tile uk-tile-lit" ng-controller="RegistrationController">
  <p class="uk-h3-lit uk-text-center">My Events</p>
</div>

  <div class="uk-child-width-1-4@m uk-margin" uk-grid uk-scrollspy="cls: uk-animation-scale-up; target: > div > .uk-card; delay: 200; repeat: false">
    <div ng-repeat="(key, event) in events">
      <div class="uk-card uk-card-secondary uk-card-body">
        <h3 class="uk-card-title">{{event.eventname}}</h3>
        <span class="text">Event Name: {{event.eventname}}</span><br>
        <span class="text">Event Type: {{event.eventtype}}</span><br>
        <span class="text">Event Date: {{event.eventdate}}</span><br>
        <span class="text">Event Description: {{event.eventdescription}}</span><br>
        <span class="text">Event Floor: {{event.eventfloor}}</span><br>
<div class="uk-margin">
        <a ng-click="deleteEvent(key)"
           class="uk-icon-link uk-align-right" title="Delete" uk-tooltip uk-icon="icon: trash; ratio: 1.5">
        </a>

        <a ng-href=#/eventedit/{{currentUser.regUser}}/{{event.$id}}"
           class="uk-icon-link" title="Edit" uk-tooltip uk-icon="icon: pencil; ratio: 1.5">
        </a>

        <a ng-href="#/checkinsListAuth/{{event.$id}}"
           class="uk-icon-link" title="View Check-Ins" uk-tooltip uk-icon="icon: users; ratio: 1.5">
        </a>

        <a href="views/eventmap.html?eventId={{event.$id}}"
           class="uk-icon-link" title="View On Map" uk-tooltip uk-icon="icon: location; ratio: 1.5">
        </a>
      </div>
      </div>
    </div>
    <div>






</div><!-- events cf -->
  </div>
