<div class="card events cf">
  <div class="textintro">
    <h1>Edit Event {{event.name}}</h1>
    <p>Type a event name and hit +</p>
    <form class="formgroup addevent cf"
      name="myform"
      ng-submit="editEvent()"
      novalidate>
      <div class="inputwrapper">
        <input type="text" name="eventname"
          placeholder="Event name"
          ng-model="eventname" ng-required="true">
      </div>

      <br><br><br>
      <div>
        Event type:
        <input type="radio" name="eventtype" value="academic" ng-model="eventtype" ng-required="true"> Academic
        <input type="radio" name="eventtype" value="social" ng-model="eventtype" ng-required="true"> Social
        <input type="radio" name="eventype" value="sports" ng-model="eventtype" ng-required="true"> Sports
      </div>

      <div class="inputwrapper">
        <input type="text" name="eventdate"
          placeholder="Event Date"
          ng-model="eventdate" ng-required="true">
      </div>

        <button type="submit" class="btn"
      </div>
    </form>
</div><!-- events cf -->

</div>
