
<div class="card events cf">
  <h2>Friend Requests</h2>
  <div class="event" ng-repeat="(key, friendRequest) in friendRequests">
  	<img src="{{friendRequest.profilePic}}" style="width:75px;height:75px;"><br>
    <span class="text">First Name: {{friendRequest.firstname}}</span><br>
    <span class="text">Last Name: {{friendRequest.lastname}}</span><br>


   <button class="btn btn-checkin tooltip"
    ng-click="addfriend(friendRequest.$id, friendRequest.friendID, friendRequest.firstname, friendRequest.lastname, friendRequest.profilePic)"><span>Accept Friend Request</span></button>
    <button class="btn btn-delete tooltip"
    ng-click="deleteFriendRequest(friendRequest.$id)"><span>Reject Friend Request</span></button>
    
  </div><!-- events list -->
</div><!-- events cf -->
</div>


