<div class="card-guide"><h1>User Guide</h1></div>
<div class="card-guide">

    <p>There is a disconnect between students and the events going on around them. Councils, clubs, and societies across campus have no standardized method to communicate with students. Students are left to figure out whats going on across campus on their own. From this insight came the inception of LIT, a service that aims to fill the gap and bring the events of all clubs and societies across campus directly to students, using a novel and intuitive user interface.<br><br></p>
    <h2>Registration</h2>
    <p>To create an account, select the "Register" tab, then fill in your name and email, and type in a password. You will be added to our database and given a unique UserID. Alternatively, you can login with Facebook by selecting the "Facebook" tab, and entering your Facebook login info.<br><br></p>
    <h2>Login</h2>
    <p>If you've already created an account, you can log in by selecting the "Login" tab, and entering your email and password from there. You can log out at any time by selecting "logout" directly below the nav bar.<br><br></p>
    <h2>Account Settings</h2>
    <p>Selecting the "Account Settings" tab allows you to see your current name and email, and gives you the option to add a profile picture. Your first name, last name, and email can also be changed by clicking on their respective links. You cannot choose what to change them to, and you will not see the changes live, but the changes will appear in our database.<br><br></p>
    <h2>All Events</h2>
    <p>The "All Events" tab leads you to a list of all events created on our database. Events can be sorted by their category and time. To join an event simply select the "+" button next to the event and you will be added.<br><br></p>
    <h2>Creating an Event</h2>
    <p>To create an event, select the "My Events" tab, type in the event name and select the "+" button.<br><br></p>
    <h2>Editing and Deleting Events</h2>
    <p>On the "My Events" tab, you can see all the events you've created at a glance. </p>


</div>
<div class="card-guide">
    <h1>It's free to get started</h1>
    <br>
    <button class="btn" onclick="window.location.href='#/register'">Create an account</button>
</div>

