<section class="card login">
  <form name="myform"
    ng-submit="login()"
    novalidate>
    <h1 id="project_title"><img src = "./img/lit-logo.png"  alt = "Logo"
                                style="height:150px;"></h1>
    <div class="textintro">
      <p class="message"
         ng-show="message"> {{ message }}</p>
    </div>


    <fieldset>
      <input type="email" name="email" placeholder="Email"
       ng-model="user.email" ng-required="true">
      <p class="error validationerror"
      ng-show="myform.email.$invalid && myform.email.$touched">
      Must be a valid email</p>


      <input type="password" name="password" placeholder="Password"
      ng-model="user.password" ng-required="true">
      <p class="error validationerror"
      ng-show="myform.password.$invalid && myform.email.$touched">
      Password is required</p>

    </fieldset>

    <button type="submit" class="btn"
      ng-disabled="myform.$invalid">LOGIN</button>
    <p>or <a ng-href="#/register">register</a></p>
    <p>or <a ng-href="#/facebook">login with Facebook</a></p>
  </form>
</section>
