<html>

<div id="wrapper">
   <div id="map">
   </div>
   <div id="over_map">
      <a id = "submit"
        href="https://liteventtracker.com/weija2/#/events"><img src = "../img/arrow_left-512.png">
      </a>
   </div>
</div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4fnO2ErBKwPTrcRa8yi9DjoinVkC1y8E&libraries=visualization&callback=initMap">
</script>
<style type="text/css">
  #map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  padding: 5px;
  text-align: center;
  font-family: 'Roboto', 'sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#floating-panel {
  left: 25%;
  padding: 5px;
  position: absolute;
  top: 10px;
  z-index: 5;
}

</style>

<script>
//Map variable
var map;

// Used to generate live heatmap
var heatmap;

//Default zoom level
var zoom = 16;
//Centre
var centre;
updateCent = localStorage.getItem("eventsCentLat");
if (updateCent == null) {
  centre = {
    lat: 43.00998848394310,
    lng: -81.27191001055915
 };
}
else centre = {lat: parseFloat(updateCent), lng: parseFloat(localStorage.getItem("eventsCentLng"))};
localStorage.clear();


//Dark map theme
var darkStyle = [{
  "featureType": "all",
  "elementType": "labels.text.fill",
  "stylers": [{
    "color": "#ffffff"
  }, {
    "weight": "0.20"
  }, {
    "lightness": "28"
  }, {
    "saturation": "23"
  }, {
    "visibility": "off"
  }]
}, {
  "featureType": "all",
  "elementType": "labels.text.stroke",
  "stylers": [{
    "color": "#494949"
  }, {
    "lightness": 13
  }, {
    "visibility": "off"
  }]
}, {
  "featureType": "all",
  "elementType": "labels.icon",
  "stylers": [{
    "visibility": "off"
  }]
}, {
  "featureType": "administrative",
  "elementType": "geometry.fill",
  "stylers": [{
    "color": "#000000"
  }]
}, {
  "featureType": "administrative",
  "elementType": "geometry.stroke",
  "stylers": [{
    "color": "#144b53"
  }, {
    "lightness": 14
  }, {
    "weight": 1.4
  }]
}, {
  "featureType": "landscape",
  "elementType": "all",
  "stylers": [{
    "color": "#08304b"
  }]
}, {
  "featureType": "poi",
  "elementType": "geometry",
  "stylers": [{
    "color": "#0c4152"
  }, {
    "lightness": 5
  }]
}, {
  "featureType": "road.highway",
  "elementType": "geometry.fill",
  "stylers": [{
    "color": "#000000"
  }]
}, {
  "featureType": "road.highway",
  "elementType": "geometry.stroke",
  "stylers": [{
    "color": "#0b434f"
  }, {
    "lightness": 25
  }]
}, {
  "featureType": "road.arterial",
  "elementType": "geometry.fill",
  "stylers": [{
    "color": "#000000"
  }]
}, {
  "featureType": "road.arterial",
  "elementType": "geometry.stroke",
  "stylers": [{
    "color": "#0b3d51"
  }, {
    "lightness": 16
  }]
}, {
  "featureType": "road.local",
  "elementType": "geometry",
  "stylers": [{
    "color": "#000000"
  }]
}, {
  "featureType": "transit",
  "elementType": "all",
  "stylers": [{
    "color": "#146474"
  }]
}, {
  "featureType": "water",
  "elementType": "all",
  "stylers": [{
    "color": "#021019"
  }]
}]

//Used to turn on dark style
var styleOn = {
  styles: darkStyle
};

//Used to turn off dark style
var styleOff = {
  styles: null
};

//Text at bottom to display Campus name
var myTitle = document.createElement('h1');

//Map initializer
function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    zoom: zoom,
    center: centre,
  });

  //Lit logo
  myTitle.innerHTML = '<img src="https://raw.githubusercontent.com/azekic/lit/master98/website/img/lit-logo-western.png?token=AVym9W2srFNzfihm8ZuvjuP8RjqIOdcFks5Y3oEGwA%3D%3D" alt="Lit Logo" style="width:375px;height:92px;">';
  var myTextDiv = document.createElement('div');
  myTextDiv.appendChild(myTitle);
  map.controls[google.maps.ControlPosition.BOTTOM_CENTER].push(myTextDiv);

  //Turns on darkmode
  map.setOptions(styleOn);

  //Geneartes new heatmap
  heatmap = new google.maps.visualization.HeatmapLayer({
    data: getPoints(),
    map: map
  });

  //Custom Gradient for heatmap
  var gradient = [
      'rgba(0, 255, 255, 0)',
      'rgba(237,232,10,1)',
      'rgba(237,232,10,1)',
      'rgba(255,212,0,1)',
      'rgba(249,157,28,1)',
      'rgba(247,147,30,1)',
      'rgba(231,115,31,1)',
      'rgba(243,111,49,1)',
      'rgba(250,30,30,1)',
    ]
    //Sets custom heatmap gradient
  heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);

  //Checks if zoom has been changed
  map.addListener('zoom_changed', function() {

    //If zoomed in close, removes theme, logo, and heatmap
    if (map.getZoom() >= 17) {
      localStorage.setItem("curCentLat", map.getCenter().lat());
      localStorage.setItem("curCentLng", map.getCenter().lng());
      location.href = "alleventsmap.html";

      //If zoomed in far enough, shows theme, logo and heatmap
    } else {
      heatmap.setMap(map);
      map.setOptions(styleOn);
      if (myTitle.innerHTML == '') {
        myTitle.innerHTML = '<img src=https://raw.githubusercontent.com/azekic/lit/master98/website/img/lit-logo-western.png?token=AVym9W2srFNzfihm8ZuvjuP8RjqIOdcFks5Y3oEGwA%3D%3D alt="Lit Logo" style="width:375px;height:92px;">';
      }
    }
  });
}

//Toggles heatmap on and off
function toggleHeatmap() {
  heatmap.setMap(heatmap.getMap() ? null : map);
}

//Makes the radius larger or smaller
function changeRadius() {
  heatmap.set('radius', heatmap.get('radius') ? null : 15);
}

//Makes the opacity of the heatmap 20%
function changeOpacity() {
  heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
}

// Heatmap data: 25 Points
function getPoints() {
  return [
    //Physics and Astronomy Atrium
    new google.maps.LatLng(43.009823295324004, -81.27262026071548),
    new google.maps.LatLng(43.009829179313215, -81.27270609140396),
    new google.maps.LatLng(43.00971738342144, -81.27273827791214),
    new google.maps.LatLng(43.00975072607712, -81.2725505232811),

    //The Grad Club
    new google.maps.LatLng(43.00942906676142, -81.27004265785217),
    new google.maps.LatLng(43.009431028103826, -81.27002120018005),
    new google.maps.LatLng(43.00953694050014, -81.27008557319641),
    new google.maps.LatLng(43.00953694050014, -81.2700667977333),

    //UCC
    new google.maps.LatLng(43.008577838249934, -81.27568066120148),
    new google.maps.LatLng(43.008648447515235, -81.27572357654572),
    new google.maps.LatLng(43.00856607003116, -81.27568066120148),
    new google.maps.LatLng(43.0086445247804, -81.27571821212769),

    //Beryl Ivey Garden
    new google.maps.LatLng(43.0085464563282, -81.27365425229073),
    new google.maps.LatLng(43.00836993271965, -81.27354562282562),
    new google.maps.LatLng(43.00860627810267, -81.27370789647102),

    //Talbot College Stage
    new google.maps.LatLng(43.00722251689854, -81.2705710530281),
    new google.maps.LatLng(43.00725193808478, -81.27059251070023),

    //Hallway in UCC
    new google.maps.LatLng(43.00927412051427, -81.27489477396011),
    new google.maps.LatLng(43.009136826044646, -81.27492696046829),

    //Tim Hortons Natural Science
    new google.maps.LatLng(43.01046464683249, -81.27305209636688),
    new google.maps.LatLng(43.0104724920694, -81.27308964729309),
    new google.maps.LatLng(43.01038619440805, -81.27323985099792),

    //Great Hall
    new google.maps.LatLng(43.00733824014977, -81.27394258975983),
    new google.maps.LatLng(43.00737746832103, -81.2741357088089),
    new google.maps.LatLng(43.007200941353005, -81.27425372600555),
  ];
}
</script>
</html>
