<head>
    <div class="uk-tile uk-tile-lit" ng-controller="RegistrationController">
        <p class="uk-h3-lit uk-text-center">{{user.firstname}}'s Profile</p>
    </div>

    <div class="uk-inline uk-position-top-center">
        <div class="uk-tile uk-tile-secondary">

            <a class="uk-button uk-button-primary"
               href="#/allusers">Back To All Users</a>
        </div>
    </div>


<div class="uk-section">
    <div class="uk-container">

        <div class="uk-flex uk-flex-center uk-text-center" uk-grid>
            <div class="uk-card uk-card-body uk-card-secondary uk-width-1-2">
                <div class="uk-text-center">
                    <div class="uk-inline-clip uk-transition-toggle uk-light">

                        <img id="profilePhoto" src="{{user.profilePictureurl}}" class="uk-border-circle" onerror="this.src='https://www.soundstream.tv/assets/default_profile-e08597880fc222202f22984a4f1966a29b108e856a3fb935072bfbbc302a4b73.png'" width="150" height="150">

                    </div>
                </div>
                <div class="uk-margin-top">
                    <span class="uk-text-large">{{user.firstname}} {{user.lastname}}</span>
                </div>
                <br>
                <span class="uk-text-bold">{{user.firstname}}'s Information:</span>
                <br>
                <br>
                <span class="uk-text-small">{{user.email}}</span>
                <br>
                <span class="uk-text-small">Age: </span>
                <span class="uk-text-small uk-badge">{{ user.age }}</span>
                <br>
                <span class="uk-text-small">Occpuation: {{ user.occupation }}</span>
                <hr>

                <div class="event" ng-repeat="(key, event) in userEventsGoing">
                <span class="text">Event Name: {{event.eventname}}</span><br>
                <span class="text">Event Type: {{event.eventtype}}</span><br>
                <span class="text">Event Date: {{event.eventdate}}</span><br>
                <span class="text">Event Description: {{event.eventdescription}}</span><br>
                <span class="text">Event Floor: {{event.eventfloor}}</span><br>
                </div>

            </div>
        </div><!-- events cf -->




            </div>
        </div>
    </div>
</div>