#login {
    width:80%;
    margin: 1.5em auto 4em auto;
    display:block;
}

#fb {
    background:#3B5998 url('https://liteventtracker.com/mitch/assets/images/facebook.svg') no-repeat 14px 6px;
    background-size: 47px;
    color:#fff;
}


#email {
    background: #ECECEC  url('https://liteventtracker.com/mitch/assets/images/email.svg') no-repeat 25px;
    background-size: 25px;
}

@media (max-width: 600px) {
    #page {
        padding:1em;
    }
    #toolbar {
        width:90%;
        margin-left: -45%;
    }
    #fb {
        background:#3B5998;
    }

    #google {
        background: #fff;
    }

    #email {
        background: #ECECEC;
    }
}
