<!DOCTYPE html>
<html>
<head>
    <title>LitMap</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      // This example requires the Drawing library. Include the libraries=drawing
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=drawing">

      var map;
      function initMap() {
          var western = new google.maps.LatLng(43.006000, -81.2720000) /*western official coordinates 43.009601, -81.2759276 */
          map = new google.maps.Map(document.getElementById('map'), {
              center: western,
              zoom: 15
          });




        var drawingManager = new google.maps.drawing.DrawingManager({
          drawingMode: google.maps.drawing.OverlayType.MARKER,
          drawingControl: true,
          drawingControlOptions: {
            position: google.maps.ControlPosition.TOP_CENTER,
            drawingModes: ['polygon'],

          },
          markerOptions: {icon: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'},
          polygonOptions: {
            fillColor: '#CAEC9B',
            fillOpacity: 1,
            strokeWeight: 2,
            clickable: true,
            editable: true,
            zIndex: 1
          }
        });
        drawingManager.setMap(map);

      }

    </script>



    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-QZbxK5yxdxsxdk-RtN3fW1l5-ewE0q8&libraries=drawing&callback=initMap"
         async defer></script>

</body>
</html>
